build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
images/b.png
images/a.png
images/p a.png
images/b.jpg
images/AhmadSyafiq.png
images/BobChoo.png
images/BensonMeier.png
images/AmyBee.png
images/AlicePauline.png
images/AhmadSyafiq2.png
